@{
  Layout = "_Layout";
}

@using System.Security.Claims

<h2>Login to your account</h2>

@if (User.Identity.IsAuthenticated)
{
    <h1>Hello @User.Identity.Name!</h1>

    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-outline-danger" value="Log out" />
    }
}
else
{
    @Html.ActionLink("Register", "Register",  new { id = 0 }, new { @class = "btn btn-outline-success" })
    @Html.ActionLink("Log in", "Login",  new { id = 0 }, new { @class = "btn btn-outline-success" }) 
}
<br />
<br />
@Html.ActionLink("Home", "Index", "Home",  new { id = 0 }, new { @class = "btn btn-outline-success" })