@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor

<h4>Add a new Flavor</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.FlavorName)
  @Html.TextBoxFor(model => model.FlavorName)
  <input type="submit" value="Add new Flavor" />
}
<button type="button" class="btn btn-outline-warning">@Html.ActionLink("Show all flavors", "Index")</button>